#!/user/bin/env pwsh

{{ if eq .chezmoi.os "windows" -}}
# install/upgrade Choco packages
choco upgrade {{ range .packages.windows.chocolatey -}} {{.}} {{ end }} -y -s'https://chocolatey.org/api/v2/'
{{ end -}}
